# ***ASSIGNMENT - 9***

## Loading the Dataset

In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder

data = pd.read_csv("adult_with_headers.csv")

print("\nFirst 5 rows of the dataset:")
print(data.head())

First 5 rows of the dataset:
   age          workclass  fnlwgt   education  education_num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

## Data Exploration

In [2]:
print("\nDataset Information:")
print(data.info())

print("\nSummary Statistics:")
print(data.describe(include='all'))

# Check missing values
print("\nMissing Values in Each Column:")
print(data.isnull().sum())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

Summary Statistics:
                 age workclass        fnlwgt education  education_num  \
count   32561.000000     32561  3.256100e+04     32561   32561.000000
unique           NaN         9           NaN        16            NaN
top              NaN   Private           NaN   HS-grad            NaN
freq             NaN     22696           NaN     10501            NaN
mean       38.581647       NaN  1.897784e+05       NaN      10.080679
std        13.640433       NaN  1.055500e+05       NaN       2.572720
min        17.000000       NaN  1.228500e+04       NaN       1.000000
25%        28.000000       NaN  1.178270e+05       NaN       9.000000
50%        37.000000       NaN  1.783560e+05       NaN      10.000000
75%        48.000000       NaN  2.370510e+05       NaN      12.000000
max        90.000000       NaN  1.484705e+06       NaN      16.000000

             marital_status       occupation relationship    race    sex  \
count                 32561            32561        32561   32561  32561
unique                    7               15            6       5      2
top      Married-civ-spouse   Prof-specialty      Husband   White   Male
freq                  14976             4140        13193   27816  21790
mean                    NaN              NaN          NaN     NaN    NaN
std                     NaN              NaN          NaN     NaN    NaN
min                     NaN              NaN          NaN     NaN    NaN
25%                     NaN              NaN          NaN     NaN    NaN
50%                     NaN              NaN          NaN     NaN    NaN
75%                     NaN              NaN          NaN     NaN    NaN
max                     NaN              NaN          NaN     NaN    NaN

        capital_gain  capital_loss  hours_per_week  native_country  income
count   32561.000000  32561.000000    32561.000000           32561   32561
unique           NaN           NaN             NaN              42       2
top              NaN           NaN             NaN   United-States   <=50K
freq             NaN           NaN             NaN           29170   24720
mean     1077.648844     87.303830       40.437456             NaN     NaN
std      7385.292085    402.960219       12.347429             NaN     NaN
min         0.000000      0.000000        1.000000             NaN     NaN
25%         0.000000      0.000000       40.000000             NaN     NaN
50%         0.000000      0.000000       40.000000             NaN     NaN
75%         0.000000      0.000000       45.000000             NaN     NaN
max     99999.000000   4356.000000       99.000000             NaN     NaN

Missing Values in Each Column:
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

# **Task - 1**

## Handling Missing Values

In [3]:
# Replace '?' with NaN (Adult dataset uses '?' for missing values)
data.replace("?", np.nan, inplace=True)

# Identify numerical and categorical columns
numerical_cols = data.select_dtypes(include=["int64", "float64"]).columns
categorical_cols = data.select_dtypes(include=["object"]).columns

# Impute numerical columns with median
for col in numerical_cols:
    data[col].fillna(data[col].median(), inplace=True)

# Impute categorical columns with mode
for col in categorical_cols:
    data[col].fillna(data[col].mode()[0], inplace=True)

print("\nMissing Values (after handling):")
print(data.isnull().sum())

Missing Values (after handling):
age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

/tmp/ipython-input-3871276549.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].median(), inplace=True)
/tmp/ipython-input-3871276549.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

## Scaling Techniques

In [4]:
# Standard Scaling:
standard_scaler = StandardScaler()
data_standard_scaled = data.copy()
data_standard_scaled[numerical_cols] = standard_scaler.fit_transform(
    data_standard_scaled[numerical_cols]
)

# Min-Max Scaling:
minmax_scaler = MinMaxScaler()
data_minmax_scaled = data.copy()
data_minmax_scaled[numerical_cols] = minmax_scaler.fit_transform(
    data_minmax_scaled[numerical_cols]
)

print("\nStandard Scaled Numerical Features (First 5 Rows):")
print(data_standard_scaled[numerical_cols].head())
print("\nMin-Max Scaled Numerical Features (First 5 Rows):")
print(data_minmax_scaled[numerical_cols].head())

Standard Scaled Numerical Features (First 5 Rows):
        age    fnlwgt  education_num  capital_gain  capital_loss  \
0  0.030671 -1.063611       1.134739      0.148453      -0.21666
1  0.837109 -1.008707       1.134739     -0.145920      -0.21666
2 -0.042642  0.245079      -0.420060     -0.145920      -0.21666
3  1.057047  0.425801      -1.197459     -0.145920      -0.21666
4 -0.775768  1.408176       1.134739     -0.145920      -0.21666

   hours_per_week
0       -0.035429
1       -2.222153
2       -0.035429
3       -0.035429
4       -0.035429

Min-Max Scaled Numerical Features (First 5 Rows):
        age    fnlwgt  education_num  capital_gain  capital_loss  \
0  0.301370  0.044302       0.800000       0.02174           0.0
1  0.452055  0.048238       0.800000       0.00000           0.0
2  0.287671  0.138113       0.533333       0.00000           0.0
3  0.493151  0.151068       0.400000       0.00000           0.0
4  0.150685  0.221488       0.800000       0.00000           0.0

   hours_per_week
0        0.397959
1        0.122449
2        0.397959
3        0.397959
4        0.397959

### **Standard Scaling** is preferred when:

- Data follows a normal distribution.
- Algorithms like Logistic Regression, SVM, KNN are used.

### **Mean-Max Scalling** is preferred when:
- Data needs to be bounded (0 to 1).
-  Distance-based algorithms or neural networks are used.

# **Task - 2**

## Encoding Techniques

In [5]:
encoded_data = data.copy()
# One-Hot Encoding for categorical columns with < 5 unique values
low_cardinality_cols = [col for col in categorical_cols if data[col].nunique() < 5]

encoded_data = pd.get_dummies(
    encoded_data,
    columns=low_cardinality_cols,
    drop_first=True
)

# Label Encoding for categorical columns with > 5 unique values
high_cardinality_cols = [col for col in categorical_cols if col not in low_cardinality_cols]

label_encoder = LabelEncoder()

for col in high_cardinality_cols:
    encoded_data[col] = label_encoder.fit_transform(encoded_data[col])

### ***Pros & Cons :***
One-Hot encoding:
 - No ordinal relationship introduced.
 - Increases dimensionality.

 Label Encoding:
 - Memory efficient.
 - Introduces ordinal relationship.

# **Task - 3**

## Feature Engineering

In [6]:
# Feature 1: Capital Gain Indicator
encoded_data["capital_gain_flag"] = encoded_data["capital_gain"].apply(
    lambda x: 1 if x > 0 else 0
)

# Feature 2: Age Group Feature
encoded_data["age_group"] = pd.cut(
    encoded_data["age"],
    bins=[0, 25, 45, 65, 100],
    labels=["Young", "Adult", "Senior", "Elder"]
)

# Encode age_group
encoded_data["age_group"] = label_encoder.fit_transform(encoded_data["age_group"])

### **Rationale:**
- Capital gain flag captures income-related behaviour.
- Age groups capture life-stage income patterns.

## Feature Transformation

In [7]:
# Log Transformation on Capital Gain (skewed feature)
encoded_data["log_capital_gain"] = np.log1p(encoded_data["capital_gain"])

### ***Justification***
- Capital gain is highly right-skewed.
- Log tranformatin reduces skewness and improves model learnig.

## Final Dataset Overview

In [8]:
print("\nFinal Preprocessed Dataset Shape:")
print(encoded_data.shape)

print("\nFinal Dataset Sample:")
print(encoded_data.head())

Final Preprocessed Dataset Shape:
(32561, 18)

Final Dataset Sample:
   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship  race  capital_gain  capital_loss  hours_per_week  \
0           1             1     4          2174             0              40
1           4             0     4             0             0              13
2           6             1     4             0             0              40
3           6             0     2             0             0              40
4          10             5     2             0             0              40

   native_country  sex_ Male  income_ >50K  capital_gain_flag  age_group  \
0              39       True         False                  1          0
1              39       True         False                  0          2
2              39       True         False                  0          0
3              39       True         False                  0          2
4               5      False         False                  0          0

   log_capital_gain
0          7.684784
1          0.000000
2          0.000000
3          0.000000
4          0.000000